{#
/**
 * @file
 * Default theme implementation to present a comment entity.
 *
 * This template is used when viewing a canonical comment page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_source_comment()
 */
#}

{% set attributes = attributes.addClass('bkb-group') %}

<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}

  {% if content %}
    {% if content.source['#items'] %}
      <div class="source field--label-inline ">
        <div class="field__label">
          {{ 'group-entity-source-label-index'|t({'@index': content.index|render|striptags|trim}) }}
        </div>
        {{ content.source }}
      </div>

      {{ content|without('source', 'index') }}
    {% endif %}
  {% endif %}
</article>
